<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/components/hander-about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Shrikhand&display=swap" rel="stylesheet">
    <title>header-about</title>
</head>
<body>
    <div class="container">
          <div class="box1">
               <div class="box2">
                   <div class="title">
                        <p>Go further and get healthy with</p>
                       <h1>G#2</h1>
                  </div>
               </div>
          
          </div>
   </div>

           
</body>
</html>